@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/sf-pro/sf-pro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/sf-pro/sf-pro-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/sf-pro/sf-pro-bold.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
