@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/sf-pro/sf-pro-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/sf-pro/sf-pro-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/sf-pro/sf-pro-bold.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

body,
input,
textarea {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #307fe2;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
  padding: 8px 13px;
  width: max-content;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  line-height: 1;
  transition: 0.3s all;
}

.btn-primary:hover {
  background-color: #0770f1;
}

.btn-primary.danger {
  background-color: #e23056;
}

.btn-primary.danger:hover {
  background-color: #ca1b41;
}
